.botonPasoFin2{
    width: 20%;
    background-color:#696AE3 ;
    color:white;
    height: 4vh;
    border-radius: 20px;
    border: #696AE3;
}
.botonPasoFin{
    width: 20%;
    background-color:#696AE3;
    color:white;
    height: 4vh;
    border-radius: 20px;
    border: #696AE3;
}
.botonPasoFin:hover{
    cursor:pointer
}
.botonPasoFin2:hover{
    cursor:pointer
}
.gridButton{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
}
.formularioFin{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gridInput{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.itemInput{
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: auto;
    justify-content: space-around;
    justify-items: center;
}
.itemInput input{
    display: flex;
    width: 80%;
}
.argumento{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.argumento textarea{
    width: 80%;
    height: 50%;
    max-height: 150px;
    field-sizing: content;
    resize: none;
    overflow-y: auto;
}
.selectInput{
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.displayModal button{
    width: 100%;
    background-color:transparent ;
    color:black;
    height: 5vh;
    border-radius: 20px;
    border-color:#696AE3;
}
.displayModal button:hover{
    cursor: pointer;
}

@media (max-width:576px) {
    .gridInput{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .selectInput{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .displayModal{
        width: 90%;
    }
    .displayModal button{
        width: 40%;
        background-color:transparent ;
        color:black;
        height: 5vh;
        border-radius: 20px;
        border-color:#696AE3;
    }

    .botonPasoFin{
        width: 30%;
    }
    .botonPasoFin2{
        width: 30%;
    }
}