.headerInicio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    padding: 1%;
    margin-left: 2%;
}
.headerInicio img{
    height: 5%;
    width: 5%;
    border-radius: 100px;
}
.contenidoInicio{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-items: center;
}
.textoTituloInicio{
    margin-top: 10%;
    margin-bottom: 20%;
    font-family: "Spline Sans", sans-serif;
}
.contenido-formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.campo-formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 5px;
}
.contenido-formulario input{
    width: 100%;
    align-content: center;
}
.contenido-formulario label{
    font-weight: bold;
    margin-bottom: 1%;
}
.buttonFormulario{
    
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    justify-items: center;
    align-content: center;
    width: 50%;
}
.buttonFormulario button{
    background-color: var(--buttonPrimary);
    border: var(--buttonPrimary);
    color: white;
    font-weight: bold;
    padding: 2%;
    border-radius: 25px;
    cursor: pointer;
}