.grupoIconMsg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap:5px;
    justify-items:center;
}

.cuerpoProceso{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-around;
}

.anunciosProceso{
    align-self: center;

}
.leaflet-container{
    width: 50vw;
}

.botonTerminar{
    background-color: #3A3B61;
    width: 30%;
    color: white;
    border: #3A3B61;
    padding: 10px;
    border-radius: 25px;
    height: 10%; 
    margin-top: 15px;
}
@media (max-width:576px) {
    .leaflet-container{
        width: 80vw;
    }
}