.grupoIconMsg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap:5px;
    justify-items:center;
}

.cuerpoProceso{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-around;
}

.anunciosProceso{
    align-self: center;

}
.mapaProceso{
    display: grid;
    grid-template-columns: 1fr auto;
    gap:20px;
    width: 100%;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-items: center;
}